# gitignore for Unity projects
# Keine ignores für VR-Assets wie Steam

# Vi and VIM Backup Files
*~
*.swp

# Andere Unity Verzeichnisse
**/Library/*
**/obj/*
**/ProjectSettings/*
**/Logs/*

# Assets wie MiddleVR, Steam, VRTK oder GitHub
# Aktuell gehen wir davon aus, dass wir dies rekonstruieren können.
# Wenn wir diese Verzeichnisse jedes mal in Git schreiben wird das repo
# redundante Informationen enthalten, was vermieden werden soll.
VisualRayTrace/**/Assets/MiddleVR/*
VisualRayTrace/**/Assets/SteamVR/*
VisualRayTrace/**/Assets/GoogleVR/*
VisualRayTrace/**/Assets/SteamVR_Input/**/*
VisualRayTrace/**/Assets/HTC.UnityPlugin/*
VisualRayTrace/**/Assets/HTC.UnityPlugin.meta
VisualRayTrace/**/Assets/HTC.UnityPlugin/ViveInputUtility/*
# MBU package ignorieren
VisualRayTrace/**/Assets/MBU/**/*
VisualRayTrace/**/Assets/MBU/
VisualRayTrace/**/Assets/MBU.meta
VisualRayTrace/**/Assets/Plugins
# FirstPerson von MVR und von Unity ignorieren
VisualRayTrace/**/Assets/MiddleVR_First*/*
VisualRayTrace/**/Assets/Standard Assets/*
# Unity Meta-Files
VisualRayTrace/**/Assets/MiddleVR.meta
VisualRayTrace/**/Assets/GoogleVR.meta
VisualRayTrace/**/Assets/SteamVR.meta
VisualRayTrace/**/Assets/HTC.UnityPlugin.meta
# Wave3D für Focus Plus ignorieren
VisualRayTrace/**/Assets/WaveVR/**/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables and Builds
*.exe
*.apk
*.unitypackage

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*

# Visual Studio cache directory
.vs/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

# Unity3D generated  files
*.pidb.meta
*.pdb.meta
*.asset	

# Unity3D Generated File On Crash Reports
sysinfo.txt
